[submodule "buildpacks/php/tests/fixtures/smoke/heroku-php-getting-started"]
	path = buildpacks/php/tests/fixtures/smoke/heroku-php-getting-started
	url = https://github.com/heroku/php-getting-started
