[package]
name = "composer"
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
derive_more = "1.0"
monostate = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "3"
url = { version = "2", features = ["serde"] }

[dev-dependencies]
serde_test = "1"
